.skeletonContainer {
  width: 100% !important;
  height: 100% !important;
  margin-top: 3rem !important;
}
.skeletonContainer svg {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0.3rem;
}
